@media only screen and (min-width: 660px) {
  li {
    padding: 20px !important;
  }
}

@media only screen and (min-width: 880px) {
  main {
    height: calc(100vh - 130px);
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }

  li {
    padding: 10px !important;
  }

  section {
    flex-grow: 1;
  }
}

@media only screen and (min-width: 1100px) {
  nav,
  main {
    padding-left: 110px;
    padding-right: 110px;
  }
  .tabs {
    padding: 0px 110px;
  }
}

@media only screen and (min-width: 1300px) {
  nav,
  main {
    padding-left: 350px;
    padding-right: 350px;
  }
  .tabs {
    padding: 0px 350px;
  }
}
