.dark-mode {
  --text-color-ap: var(--gray-300);
  --text-color-h: var(--gray-100);
  --background-main: var(--gray-900);
  --logo: var(--gray-100);
  background-color: var(--background-main);
  --dark-logo: url(../static/wi_solar-eclipse.svg);
  --main-logo: url(../static/white-logo.svg);
}
